{% extends "layout.njk" %}

{% block title %}Remove Config{% endblock %}

{% block body_class %}bg-light{% endblock %}

{% block content %}
    <div class="container text-center my-5">
        <a href="/form" class="btn btn-lg btn-primary" role="button">Configure</a>
    </div>
{% endblock %}